@charset "utf-8";

body {
	margin: 0px;
	padding: 0;
	border: none;
	background: white;
}

#tudo {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

#topo {
	height: 50px;
	border-bottom: 1px solid #E5E5E5;
	background: whiteSmoke;
}

#conteudo {
	float: right;
	margin: 6px;
	width: 85%;
}

#rodape {
	clear: both;
	text-align: center;
	border-top: 1px solid #E5E5E5;
}

#principal {
	float: left;
	width: 648px;
	margin-left: 10px;
	text-align: justify;
	border-width: 0 1px;
	padding: 0 10px;
}

#nav {
/* 	width: 120px; */
	float: left;
}

.titulo {
/* 	margin: 2px; */
/* 	border-bottom: solid; */
	padding: 3px;
	border-width: 1px;
/* 	border-color: darkGray; */
/* 	font-style: italic; */
	font-weight: bold;
	font-size: 14px;
/* 	background: lightBlue; */
	height: 34px;
}


form input {
	width: 96%;
}

form select {
	width: 100%;
}

.error {
	color: #DD4B39;
}

.background-destacado {
	background: whiteSmoke;
}


}